* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: local('StratosSkyeng'), local('StratosSkyeng'),
    url('/fonts/StratosSkyeng.woff2') format('woff2'),
    url('/fonts/StratosSkyeng.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.container__center {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__big {
  font-family: StratosSkyeng;
  font-size: 160px;
  font-weight: 400;
  line-height: 168px;
  color: #ffffff;
  padding-bottom: 2px;
}

.container__header {
  font-family: StratosSkyeng;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
}

.container__text {
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #4e4e4e;
  padding-top: 8px;
  padding-bottom: 36px;
}

.container__button {
  width: 278px;
  height: 52px;
  border-radius: 6px;
  background: #580ea2;
  border-style: none;
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
